.welcome {
  background-image: url("/home/hilary/Documents/gen-workspace/html/assignment instructions/delani/assets/backgrounds/first.jpg");
  height: 600px;
  text-align: center;
  color: white;
  padding-top: 115px;
}
 #mouse{
   padding-top: 70px;
 }
 .about{
   text-align: center;
   padding-top: 100px;
   height: 300px;
 }
